$white: #ffffff;
$grey-500: #4d4f62;
$grey-400: #6a7178;
$cyan: #44d3d2;
$red: #ea5454;
$blue: #549ef2;
$orange: #fcae4a;

@font-face {
  font-family: 'Poppins Semibold';
  src: url('./assets/font/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins Extra Light';
  src: url('./assets/font/Poppins/Poppins-ExtraLight.ttf');
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('./assets/font/Poppins/Poppins-Regular.ttf');
}

%text-preset-1 {
  font-family: 'Poppins Semibold';
  font-size: clamp(1.5rem, 1.2359rem + 1.1268vw, 2.25rem);
  line-height: 1.4;
  letter-spacing: 0.25px;
}

%text-preset-2 {
  font-family: 'Poppins Extra Light';
  font-size: clamp(1.5rem, 1.2359rem + 1.1268vw, 2.25rem);
  line-height: 1.4;
  letter-spacing: 0.25px;
}

%text-preset-3 {
  font-family: 'Poppins Semibold';
  font-size: 1.25rem;
  line-height: 1.35;
}

%text-preset-4 {
  font-family: 'Poppins Regular';
  font-size: 0.9375rem;
  line-height: 1.4;
  letter-spacing: 0.1px;
}

%text-preset-5 {
  font-family: 'Poppins Regular';
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 0.09px;
}

.shadow {
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  color: $grey-500;
  width: clamp(19.75rem, 6.3912rem + 56.9975vw, 33.75rem);
  margin-top: clamp(3.5rem, 2.4877rem + 4.3192vw, 6.375rem);
  margin-bottom: clamp(3.75rem, 2.9151rem + 3.5623vw, 4.625rem);

  h1 {
    @extend %text-preset-2;
  }

  strong {
    @extend %text-preset-1;
  }

  p {
    @extend %text-preset-4;
  }
}

.card__wrapper {
  display: grid;
  gap: 2rem;
  margin-bottom: clamp(2.875rem, 0.3002rem + 10.9859vw, 10.1875rem);

  .line-cyan {
    border-top: 4px solid $cyan;
  }

  .line-blue {
    border-top: 4px solid $blue;
  }

  .line-red {
    border-top: 4px solid $red;
  }

  .line-orange {
    border-top: 4px solid $orange;
  }

  @media (min-width: 48rem) {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    .service__section:nth-child(1) {
      grid-row: 2 / 3;
    }

    .service__section:nth-child(2) {
      grid-column: 1 / 3;
    }

    .service__section:nth-child(3) {
      grid-row: 2 / 3;
    }

    .service__section:nth-child(4) {
      grid-column: 1 / 3;
    }
  }
}

.service__section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: $white;
  padding: 2rem;
  border-radius: 0.5rem;
  height: 15.625rem;

  div {
    display: flex;
    width: 15.625rem;
    flex-direction: column;
    gap: 0.375rem;
  }

  h2 {
    @extend %text-preset-3;
    color: $grey-500;
  }

  p {
    @extend %text-preset-5;
    color: $grey-400;
  }

  img {
    width: 4rem;
    height: 4rem;
    align-self: flex-end;
  }

  @media (min-width: 90rem) {
    width: 21.875rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
